// Autostart
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "gnome-keyring-daemon"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "qs" "-c" "noctalia-shell"
