
// ░███    ░██ ░██████░█████████  ░██████
// ░████   ░██   ░██  ░██     ░██   ░██
// ░██░██  ░██   ░██  ░██     ░██   ░██
// ░██ ░██ ░██   ░██  ░█████████    ░██
// ░██  ░██░██   ░██  ░██   ░██     ░██
// ░██   ░████   ░██  ░██    ░██    ░██
// ░██    ░███ ░██████░██     ░██ ░██████


// Config

prefer-no-csd

// Include

include "outputs.kdl"
include "cursor.kdl"
include "layout.kdl"
include "autostart.kdl"
include "binds.kdl"
//include "animations.kdl"

environment {
    DISPLAY ":0"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    MOZ_ENABLE_WAYLAND "1"
    QT_QPA_PLATFORM "wayland;xcb"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

input {
    keyboard {
        xkb {
            layout "es"
            options "grp:rctrl_rshift_toggle"
        }
        numlock
    }

    touchpad {
        tap
        dwt
        natural-scroll
        click-method "button-areas"
        scroll-method "two-finger"
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        
    }
}

overview {
    zoom 0.70
    backdrop-color "#1e1e2e"
}

hotkey-overlay {
    skip-at-startup
}

// Path ScreenShot
screenshot-path "~/Imágenes/Capturas de pantalla/Captura de pantalla %Y-%m-%d %H-%M-%S.png"

animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    geometry-corner-radius 9
    clip-to-geometry true
    draw-border-with-background false
}

// Gestos
gestures {
    hot-corners{
        off
    }
}

