window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
    draw-border-with-background false
    shadow {
        on
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#000000"
        inactive-color "#00000064"
    }
}

layer-rule {
    match namespace="^noctalia-backdrop"
    place-within-backdrop true
}

